# === Streamlit + Data Science ===
streamlit>=1.25.0
pandas
numpy

# === Audio ===
pydub==0.25.1
librosa==0.10.0.post2
soundfile==0.12.1
ffmpeg-python

# === Web Requests ===
requests

# === Visualisation (pour éviter l'erreur Altair) ===
altair==4.2.2
