# === Streamlit + Data Science ===
streamlit>=1.25.0
pandas==1.5.3
numpy==1.23.5

# === Audio ===
pydub==0.25.1
librosa==0.10.0.post2
soundfile==0.12.1
ffmpeg-python

# === Web Requests ===
requests

# === Deepgram ===
deepgram-sdk

# === Visualisation ===
altair==4.2.2

# === PyArrow ===
pyarrow==10.0.0

# === Google Sheets (Optionnel) ===
gspread==5.7.0
google-auth>=2.16.0,<3.0.0
